.loader {
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid rgb(114, 114, 114);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 

.spinner_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}