$mainColor: #F4F4F4;
$secColor: #9189F8;
$text-color: #666666;
$grayColor: #d5d5d5;

.panel{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainPanel{
    width: 90%;
    height: 90%;
    max-width: 80rem;
    height: 43rem;
    background-color: $mainColor;
    opacity: 0.94;
    border-radius: 15px;
    -webkit-box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56); 
    box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56);
    overflow: hidden;
    z-index: 1;
}
.panelHeader{
    h1{
        text-align: center;
        color: $text-color;
    }
    border-bottom: .25rem solid #979797;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boardsContainer{
    margin-left: 2rem;
    h2{
        color: $text-color;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .boardComponent{
        margin: 1rem 1.5rem;
    }
}
.skeletonBoardContainer{
    margin-left: 2rem;
}
@keyframes anim {
    0%{
        left: -10%;

    }
    100%{
        left: 100%;
    }
}
.textLoading{
    position: relative;
    background-color: $grayColor;
    width: 10rem;
    height: 1.2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 2rem;
    margin-bottom: 2rem;
    span{
        position: absolute;
        left: -10%;
        width: 4rem;
        height: 100%;
        background: linear-gradient(to right, #d8d8d8 8%, #eaeaea 70%, rgb(220, 219, 219) 80%);
        animation: anim 1s infinite;
    }
}