@keyframes loadingAnim{
    0%{
        left: -20%;

    }
    100%{
        left: 100%;
    }
}
@keyframes boardAnim{
    0%{
        transform: translateX(0deg);
    }
    100%{
        transform: rotateY(10deg);
    }
}

.boardLoadingContainer{
    display: flex;
    width: 100%;
    align-items: center;
    .board{
        background-color: rgb(218, 218, 218);
        width: 15rem;
        height: 8rem;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-right: 3.5rem;
        margin-bottom: 2.5rem;
        animation: boardAnim 1s infinite;
        span{
            position: absolute;
            left: -20%;
            background: linear-gradient(to right, #d8d8d8 8%, #eaeaea 70%, rgb(220, 219, 219) 80%);
            width: 7rem;
            height: 100%;
            animation: loadingAnim 1s infinite;
        }
    }
}