$mainColor: #F4F4F4;
$text-color: #666666;
$pink-color: #9189F8;

.mainContainer{
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainPanel{
    width: 90%;
    height: 90%;
    max-width: 80rem;
    max-height: 47rem;
    background-color: $mainColor;
    opacity: 0.94;
    border-radius: 15px;
    -webkit-box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56); 
    box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56);
    overflow: hidden;
    display: flex; justify-content: center; align-items: center;
}

.panelContent{
    h1{
        text-align: center;
        color: $text-color;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $mainColor;
    opacity: 0.94;
    border-radius: 15px;
    box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56);
    padding: 5rem 10rem;
}

.submitBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    button{
        margin-top: 1rem;
        padding: 0.8rem 1.5rem;
        background-color: $pink-color;
        opacity: .85;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        width: 65%;
        font-size: .95rem;
    }
    button:hover{
        transition: .2s;
        transform: scale(1.1);
    }
}
.valError{
    color: red;
    font-weight: 600;
    text-align: center;
}