
.mainContainer{
    background-color: #D9D9D9;
    width: 15rem;
    height: 4rem;
    margin: 1.5rem 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .addStatusesContainer{
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            padding: .3rem .5rem;
            background-color: #8BC078;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    input{
        padding: .5rem;
        margin-left: .3rem;
        background-color: #D9D9D9;
        border: none;
        font-weight: 600;
    }
    input:focus{
        outline: none;
    }
}
.mainContainer:focus-within{
    transition: 0.2s;
    border: 1px solid rgb(26, 151, 26);
}