$pink-color: #9189F8;
$text-color: #666666;

body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main_container_shape{
    position: absolute;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100vh;
    }
    z-index: -1;
}
.form_response_error{
    text-align: center;
    color: red;
    font-weight: 600;
}

/* form */
.center_panel{
    background-color: #F4F4F4;
    opacity: 0.90;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    border-radius: 20px;
    h1{
        color: $text-color;
    }
    form{
        width: 70%;
    }
    -webkit-box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56); 
    box-shadow: -4px -1px 9px -1px rgba(0,0,0,0.56);
}
.panelContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}
.form_div{
    display: flex;
    input{
        border: none;
        margin-left: 1rem;
        background-color: white;
        font-size: .95rem;
        width: 100%;
    }
    input:focus{
        outline: none;
    }
    padding: .6rem;
    border: 1px solid $pink-color;
    margin: 1.3rem 0;
    border-radius: 15px;
    background-color: white;
 
}
.form_div:focus-within{
    transition: .25s;
    border: 2px solid $pink-color;
    transform: scale(1.05);
}
 
.form_img_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    button{
        padding: .8rem 1rem;
        background-color: $pink-color;
        opacity: .85;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        cursor: pointer;
        width: 45%;
        font-size: .95rem;
    }
    button:hover{
        transition: .2s;
        transform: scale(1.1);
    }
}
.form_anno{
    display: flex;
    flex-direction:column;
    color: $text-color;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    p{
        margin: 0;
    }
    p:nth-child(2){
        margin-top: .5rem;
        color: rgb(49, 49, 49);
        cursor: pointer;
    }
}

.form_val_error{
    color: red;
    text-align: center;
    font-weight: 600;
    margin: 0;
}
/*--------------------------------------------*/

@media only screen and (max-width: 600px) {
     .center_panel{
        transition: .2s;
       width: 23rem;
     }
     .form_btn_container{
        button{
            padding: .7rem 1rem;
        }
     }
}