$mainColor: #F4F4F4;
$text-color: #666666;

.taskContainer{
    background-color: $mainColor;
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 10px;
}