$secColor: #9189F8;
.boardComponent{
    background-color: $secColor;
    width: 15rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.boardComponent:hover{
    transition: .3s;
    transform: scale(1.05);
}